.banner{
    background-image: url("https://media.licdn.com/dms/image/v2/C561BAQEC6yHnwUIKYg/company-background_1536_768/company-background_1536_768/0/1521251593341?e=2147483647&v=beta&t=qXwMpvpqx3Fb9AiWsw5GOGET6WQtm5RHJRourEvgOKo");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.6;
}